
@import 'bulma/bulma.sass';
@import './navbar';
@import './Herobanner.scss';

html {
  scroll-behavior: smooth;
}

.pointer {
  cursor: pointer !important;
}

.text-overflow {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

