
@import './navbar';
@import './Herobanner.scss';
@import url('https://fonts.googleapis.com/css?family=Monsterrat|Pinyon+Script&displayswap');
@import './Projectcard.scss';
@import './CreateUserForm.scss';

$family-sans-serif: "Monsterrat", sans-serif;

html {
  scroll-behavior: smooth;

}

body{
  background-color: #ffffff;
  height: 100000000px;
  
}

.pointer {
  cursor: pointer !important;
}

.text-overflow {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}


@import 'bulma/bulma.sass';
